snippet media "Enters the default media queries" w
// ipad landscape mode
@media only screen and (max-width: 1024px) {

}

// ipad normal view
@media only screen and (max-width: 768px) {

}

// iphone 7/8 plus
@media only screen and (max-width: 414px) {

};


// iphone 5
@media only screen and (max-width: 320px) {

};
endsnippet

