snippet caf "const anon function" w
const $1 = () => {

};
endsnippet

snippet cl "console log"
console.log($0)
endsnippet


snippet if "if"
{#if $1}
{/if}
endsnippet


snippet each "foreach"
{#each $1 as $2, i}
{/each}
endsnippet
